*{
    font-family: monospace;
}

body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/320/812/886/leo-messi-hd-image-download-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#contenedor{
    background: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.cabecera{
    background: cornflowerblue;
    border: dashed 2px #fff;
}

.titulo{
    text-align: center; 
    color: cornsilk;
}

.resaltado{
    background-color: darkgray; 
}

.contenido{
    text-align: justify;
    font-size: 20px;
    text-align:center;
}

.destacado{
    color: darkcyan;
    font-size: 20px;
    font-style:normal;
}


.pie{
    
    border-top: 2px solid black;
    padding-top: 10px;

}